* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-flow: nowrap column;
    overflow-x: hidden;
}

header {
    display: flex;
    padding: .8rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    min-height: 5vh;
}

header h1 {
    font-size: 1.7rem;
    white-space: nowrap;
    margin-left: 10rem;
    color: #F9FAF8;
}

nav {
    margin-right: 10rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 5rem;
}

nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1rem;
    white-space: nowrap;
}

.s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
    gap: 10rem;
    background-color: #1F2937;
    min-height: 22.5vh;
}

.s1-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: .8rem;
}

.s1-left h1 {
    color: #F9FAF8; 
    font-size: 4rem;
}

.s1-left p {
    color: #E5E7EB; 
    font-size: 1.5rem;
}

.s1-left button {
    background-color: #3882F6;
    border: none;
    align-self: flex-start;
    padding: .6rem 1.4rem;
    border-radius: .7rem;
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: bold;
    cursor: pointer;
}

.s1-left button:hover {
    background-color: #37e056;
    box-shadow: 0 4px #999;
}

.s1-left button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.s1-right {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #E5E7EB;
    padding: 8rem 4rem;
}

.s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
    min-height: 22.5vh;
}

.s2 h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.s2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.s2-blocks {
    text-align: center;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    margin-top: 1.3rem;
}

.s2-square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
}

.s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5rem 20rem;
    min-height: 22.5vh;
}

.s3-container {
    display: flex;
    flex-direction: column;
}

.s3-container em {
    align-self: flex-end;
    font-size: 2rem;
    font-weight: lighter;
}

.s3-container h3 {
    align-self: flex-end;
    font-size: 1.5rem;
}

.s4 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 22.5vh;
}

.s4-container {
    background-color: #3882F6;
    padding: 3rem 7rem;
    margin: 5rem 10rem;
    border-radius: 1rem;
}

.s4-block {
    display: flex;
    gap: 10rem;
}

.s4-text {
    white-space: nowrap;
    color: white;
    font-size: 1.5rem;
}

.s4-button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: .4rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.s4-button:hover {
    background-color: #37e056;
    box-shadow: 0 4px #999;
}

.s4-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    min-height: 5vh;
}

footer p {
    color: white;
    padding: 1.5rem;
}